
@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);



:root {

    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
     
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;
}

* {

font-family: 'poppins' , sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #321455;
}

#login_form {
    background-color: var(--color-light-50);
    width: 65vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

#form_header {

    background-color: #f8fafc;
    width: 55vh;
    height: 60vh;

    >h1 {
      text-align: left;
      font-size: 2.5em;
      padding-top: 20px;
    }
}

.imput-box {
    margin: 70px;
    }

.imput-box label {
    font-size: 17px;
    color: var(--color-dark-50);
}

.imput-field {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-dark-900);
}

.imput-field i {
    font-size: 18px;
    margin: 8px;
    color: var(--color-dark-900);
}

.imput-field input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 300px;
    padding: 0px 5px;
}
.imput-field input:focus {
    outline: none;
}


#login-botton {
    border: none;
    width: 120px;
    height: 80px;
    background-color: #7c3aed;
    color: white;
    margin-bottom: 50px;
    border-radius: 8px;
}

#login-botton:hover {

    background-color: var(--color-purple-100);
    border-radius: 8px;
    transition: 0.6s;
    cursor: pointer;
}

